body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
}

img {
	width: 200px;
	height: 300px;
}

.container > form {
	padding: 2em;
	margin-left: 10%;
}

textarea {
	box-sizing: border-box;
	width: 100%;
}

img {
	margin-bottom: 3em;
}

footer {
	text-align: center;
}

.gradient {

	background-image:
		linear-gradient(
		to bottom right,
			blue, black 20%
		);
}