body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
}

img {
	width: 200px;
	height: 300px;
}

.container > form {
	background-color: green;
	margin: 2em;
}

h2:last-child {
	text-align: center;
}


textarea {
	box-sizing: border-box;
	width: 100%;
}

img {
	margin-bottom: 3em;
}


/*.gradient {*/

	/*background-image:*/
		/*linear-gradient(*/
			/*to top left,*/
			/*black, blue*/
		/*);*/
/*}*/