body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
}

img {
	width: 200px;
	height: 300px;
}

.container > form {
	background-color: green;
	margin: 2em;
}

/*.gradient {*/

	/*background-image:*/
		/*linear-gradient(*/
			/*to top left,*/
			/*black, blue*/
		/*);*/
/*}*/